<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.miao.assistant">

    <application android:label="喵喵助手">
        <meta-data android:name="xposedmodule" android:value="true" />
        <meta-data android:name="xposeddescription" android:value="喵喵助手" />
        <meta-data android:name="xposedminversion" android:value="93" />
    </application>

</manifest>
